{% extends "curtain_roll/templates/curtain_shell.html" %}

{% block title %}{{ _("Your Transactions") }}{% endblock %}
{% block body_class %}cr-page cr-account{% endblock %}

{% block content %}
{% include "curtain_roll/templates/includes/account_style.html" %}

<div class="cr-acc">
  <ul class="cr-crumbs">
    <li><a href="/">{{ _("Home") }}</a></li>
    <li><a href="/account">{{ _("My Account") }}</a></li>
    <li>{{ _("Your Transactions") }}</li>
  </ul>

  <h1 class="cr-acc-title">{{ _("Your Transactions") }}</h1>

  <div class="cr-panel cr-empty">
    <i class="fa-solid fa-right-left"></i>
    <p style="max-width:460px;margin:0 auto;">{{ _("Payments are not taken online yet, so there is nothing to list here. This will fill in once online payment is switched on.") }}</p>
    <p style="margin-top:22px;">
      <a class="cr-btn cr-btn-light" href="/contact">{{ _("Contact us") }}</a>
    </p>
  </div>

  <a class="cr-back" href="/account">&larr; {{ _("Back to My Account") }}</a>
</div>
{% endblock %}
