{% extends "kayan_curtain/templates/curtain_shell.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% include "kayan_curtain/templates/includes/account_style.html" %}
{% include "kayan_curtain/templates/includes/blog_style.html" %}

<div class="cr-acc cr-article-wrap">
  <ul class="cr-crumbs">
    <li><a href="/">{{ _("Home") }}</a></li>
    <li><a href="/blogs">{{ _("Blog") }}</a></li>
    <li>{{ post_title }}</li>
  </ul>

  <article class="cr-article">
    <h1 class="cr-acc-title">{{ post_title }}</h1>
    {% if post.published_on %}<p class="cr-blog-date">{{ frappe.format(post.published_on, {"fieldtype": "Date"}) }}</p>{% endif %}
    {% if post.cover_image %}
    <img class="cr-article-cover" src="{{ post.cover_image }}" alt="{{ post_title }}">
    {% endif %}
    {#- written in the desk's text editor by the team, which Frappe sanitises
        on save; printed as the HTML it is -#}
    <div class="cr-article-text">{{ post_content }}</div>
  </article>

  {% if more %}
  <h2 class="cr-acc-head">{{ _("More articles") }}</h2>
  <div class="cr-blog-grid">
    {% for p in more %}
    <a class="cr-blog-card" href="{{ p.url }}">
      <div class="cr-blog-cover">
        {% if p.cover_image %}<img src="{{ p.cover_image }}" alt="{{ p.shown_title }}" loading="lazy">{% else %}<i class="fa-regular fa-newspaper"></i>{% endif %}
      </div>
      <div class="cr-blog-body"><h2>{{ p.shown_title }}</h2></div>
    </a>
    {% endfor %}
  </div>
  {% endif %}

  <a class="cr-back" href="/blogs">&larr; {{ _("Back to the blog") }}</a>
</div>
{% endblock %}
